<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Gallery</h1>

    <div id="gallery">
        <img src="/welcome.jpeg"/>
        <img src="/2.jpeg"/>
        <img src="/3.jpeg"/>
        <img src="/4.jpeg"/>
        <img src="/5.jpeg"/>
        <img src="/6.jpeg"/>
    </div>
    <a href="/"> Home </a>
    <a href="/about-us">| About us </a>
    <a href="/works">| Works </a>
</body>
</html>